sudo: false

branches:
  only:
    - publicGithubDevelop

script:
  - wget http://ftp.stack.nl/pub/users/dimitri/doxygen-1.8.13.linux.bin.tar.gz
  - tar -zxvf doxygen-1.8.13.linux.bin.tar.gz
  - ./doxygen-1.8.13/bin/doxygen Doxyfile

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: docs/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: publicGithubDevelop
