#!/ccs/home/dsambit/frontier/bin/rc
#SBATCH -A mat239
#SBATCH -J gputests
#SBATCH -t 1:00:00
#SBATCH -p batch
#SBATCH -N 1
#SBATCH --gpus-per-node 6
#SBATCH --ntasks-per-gpu 1
#SBATCH --gpu-bind closest

OMP_NUM_THREADS = 1
MPICH_VERSION_DISPLAY=1
MPICH_ENV_DISPLAY=1
MPICH_OFI_NIC_POLICY = NUMA 
MPICH_GPU_SUPPORT_ENABLED=1
MPICH_SMP_SINGLE_COPY_MODE=NONE

LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$INST/lib
LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$INST/lib/lib64
LD_LIBRARY_PATH=$CRAY_LD_LIBRARY_PATH:$LD_LIBRARY_PATH


BASE = $WD/src/dftfeDebug/build/release/real
n=`{echo $SLURM_JOB_NUM_NODES '*' 8 | bc}

srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileN2_1.prm > outputN2_1
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileN2_2.prm > outputN2_2
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileN2_3.prm > outputN2_3
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileN2_4.prm > outputN2_4
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileN2_5.prm > outputN2_5
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileMg2x_8.prm > outputMg2x_8
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileMg2x_9.prm > outputMg2x_9
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileMg2x_10.prm > outputMg2x_10
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileMg2x_11.prm > outputMg2x_11
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileMg2x_14.prm > outputMg2x_14
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileMg2x_15.prm > outputMg2x_15
srun -n 6 -c 7 --gpu-bind closest $BASE/dftfe parameterFileMg2x_16.prm > outputMg2x_16
